* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: black;
}
html,
body {
    height: 100%;
    width: 100%;
}


input{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
}

button{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: lightcoral;
    color: rgb(11, 11, 11);
    cursor: pointer;
}