* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: black;
}
html,
body {
    height: 100%;
    width: 100%;
}


input{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
}

button{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: lightcoral;
    color: rgb(11, 11, 11);
    cursor: pointer;
}

.box{
    width: 200px;
    height: 200px;
    background-color: crimson;
}

.page1{
    height: 100vh;
    width: 100%;
    background: #111;
}
.page2{
    height: 100vh;
    width: 100%;
    background: #222;
}
.page3{
    height: 100vh;
    width: 100%;
    background: #333;
}