* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background-color: #111;
}


.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}
.card{
  background-color: lightslategray;
  width: 500px;
  border: 1px solid white;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
}

.card button{
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid greenyellow;
}