* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background-color: #111;
}

.card{
  background: pink;
  margin : 20px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
}

.navbar{
  background: purple;
  padding: 15px;
  text-align: center;
  margin: 10px;
}